.cateogry {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1.5rem;
}
#img > img {
  cursor: pointer;
  height: 50px;
}
.item > h5 {
  cursor: pointer;
}
select {
  font-size: 0.8rem;
  border: none;
  outline: none;
  cursor: pointer;
}
select > option {
  padding: 1rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
}
